.user-select-loading {
	position: relative;
}
.user-select-loading__placeholder {
	position: absolute;
	top: 17px;
	width: 125px;
	height: 14px;
	background-color: rgba(0, 0, 0, 0.12);
}
.user-select-loading__dropdown {
	color: rgba(0, 0, 0, 0.38);
	position: absolute;
	top: 9px;
	right: 0;
	height: 14px;
}
