.invoice-list-item {
	align-items: center;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	display: flex;
	padding: 16px 0;
	&:last-child {
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	}
}
.invoice-list-item__date {
	flex: 2;
	font-weight: 500;
	line-height: 28px;
}
.invoice-list-item__amount {
	flex: 2;
	line-height: 28px;
}
.invoice-list-item__action {
	flex: 1;
	.btn {
		float: right;
	}
}
