.paginator {
	margin-left: 0em;
	margin-right: 0em;
	padding-top: 1em;
}
.paginator__btn {
	width: 100%;
	color: rgba(0, 0, 0, 0.87);
	padding: 0em;
	&.disabled {
		opacity: 0.25;
	}
}
.paginator__page {
	border: 1px solid rgba(0, 0, 0, 0.12);
	padding: 0em;
}
